In [12]:
import pandas as pd

df = pd.read_csv ("iris.csv")
df.head() # untuk 5 terawal

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [14]:
df["species"].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [15]:
df["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [16]:
iris_without_species = df.drop('species' , axis=1)
iris_without_species

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [19]:
species = df["species"]
species.head()

# kalau nak tengok satu kolum sahaja

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [ ]:
# instead
# kene gune single ' 
species2 = df.drop(['sepal_length','sepal_width','petal_length','petal_width'], axis=1)
species2.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [24]:
type(species2)

pandas.core.frame.DataFrame

In [25]:
iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [28]:
# calculated column
sepalarea= iris_without_species['sepal_length'] * iris_without_species['sepal_width']
sepalarea.head()

0    17.85
1    14.70
2    15.04
3    14.26
4    18.00
dtype: float64

In [29]:
iris_without_species['sepal_area'] = sepalarea

iris_without_species.head()

   sepal_length  sepal_width  petal_length  petal_width  sepal_area
0           5.1          3.5           1.4          0.2       17.85
1           4.9          3.0           1.4          0.2       14.70
2           4.7          3.2           1.3          0.2       15.04
3           4.6          3.1           1.5          0.2       14.26
4           5.0          3.6           1.4          0.2       18.00

In [30]:
# petal area

arief = iris_without_species['petal_length'] * iris_without_species['petal_width']
arief.head()

0    0.28
1    0.28
2    0.26
3    0.30
4    0.28
dtype: float64

In [32]:
iris_without_species['petal_area'] = arief
iris_without_species.head()

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,0.28
1,4.9,3.0,1.4,0.2,14.70,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
3,4.6,3.1,1.5,0.2,14.26,0.30
4,5.0,3.6,1.4,0.2,18.00,0.28

In [35]:
# filter out parts of Dataframes using pandas
# only part of iris_without_species value of sepal_area is > 15

largeflower = iris_without_species[iris_without_species['sepal_area']> 15] 

largeflower.head(10)

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
0,5.1,3.5,1.4,0.2,17.85,0.28
2,4.7,3.2,1.3,0.2,15.04,0.26
4,5.0,3.6,1.4,0.2,18.00,0.28
5,5.4,3.9,1.7,0.4,21.06,0.68
6,4.6,3.4,1.4,0.3,15.64,0.42
7,5.0,3.4,1.5,0.2,17.00,0.30
9,4.9,3.1,1.5,0.1,15.19,0.15
10,5.4,3.7,1.5,0.2,19.98,0.30
11,4.8,3.4,1.6,0.2,16.32,0.32
14,5.8,4.0,1.2,0.2,23.20,0.24

In [40]:
largeflower = iris_without_species[iris_without_species['sepal_area']> 18] 

largeflower.head(10)

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
5,5.4,3.9,1.7,0.4,21.06,0.68
10,5.4,3.7,1.5,0.2,19.98,0.30
14,5.8,4.0,1.2,0.2,23.20,0.24
15,5.7,4.4,1.5,0.4,25.08,0.60
16,5.4,3.9,1.3,0.4,21.06,0.52
18,5.7,3.8,1.7,0.3,21.66,0.51
19,5.1,3.8,1.5,0.3,19.38,0.45
20,5.4,3.4,1.7,0.2,18.36,0.34
21,5.1,3.7,1.5,0.4,18.87,0.60
27,5.2,3.5,1.5,0.2,18.20,0.30

In [ ]:
# how many large flowers we have in iris dataset\
# cara nak kira berapa banyak large flower yang di filter

largeflower.info()

<class 'pandas.core.frame.DataFrame'>
Index: 64 entries, 5 to 148
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  64 non-null     float64
 1   sepal_width   64 non-null     float64
 2   petal_length  64 non-null     float64
 3   petal_width   64 non-null     float64
 4   sepal_area    64 non-null     float64
 5   petal_area    64 non-null     float64
dtypes: float64(6)
memory usage: 3.5 KB

In [42]:
# how many flowers have a sepal area of exactly 16

largeflower16 = iris_without_species[iris_without_species['sepal_area'] == 16]
largeflower16

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
35,5.0,3.2,1.2,0.2,16.0,0.24

In [43]:
largeflower16.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1 entries, 35 to 35
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  1 non-null      float64
 1   sepal_width   1 non-null      float64
 2   petal_length  1 non-null      float64
 3   petal_width   1 non-null      float64
 4   sepal_area    1 non-null      float64
 5   petal_area    1 non-null      float64
dtypes: float64(6)
memory usage: 56.0 bytes

In [56]:
largeflower

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
5,5.4,3.9,1.7,0.4,21.06,0.68
10,5.4,3.7,1.5,0.2,19.98,0.30
14,5.8,4.0,1.2,0.2,23.20,0.24
15,5.7,4.4,1.5,0.4,25.08,0.60
16,5.4,3.9,1.3,0.4,21.06,0.52
...,...,...,...,...,...,...
143,6.8,3.2,5.9,2.3,21.76,13.57
144,6.7,3.3,5.7,2.5,22.11,14.25
145,6.7,3.0,5.2,2.3,20.10,11.96
147,6.5,3.0,5.2,2.0,19.50,10.40
148,6.2,3.4,5.4,2.3,21.08,12.42

In [57]:
largeflower.to_csv('largeflowers.csv')

In [44]:
# sorting values by something

sortedlargeflowers = largeflower.sort_values(by = 'sepal_area',ascending=False)
sortedlargeflowers.head()

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,petal_area
131,7.9,3.8,6.4,2.0,30.02,12.80
117,7.7,3.8,6.7,2.2,29.26,14.74
109,7.2,3.6,6.1,2.5,25.92,15.25
15,5.7,4.4,1.5,0.4,25.08,0.60
14,5.8,4.0,1.2,0.2,23.20,0.24

In [51]:
largestflower = sortedlargeflowers['sepal_area']
x = largestflower.head(1)
x

131    30.02
Name: sepal_area, dtype: float64

In [54]:
arealargestflower = sortedlargeflowers['sepal_area'][131]
arealargestflower

np.float64(30.02)

In [55]:
arealargestflower = sortedlargeflowers['sepal_area'].min()
arealargestflower

np.float64(18.2)